<div class="body">
    <mat-card class="loginCard">
        <div class="header">
            <h2 class="header-login">REESTABLECER CONTRASEÑA</h2>
            <img class="login-image" src="../../../assets/img/forgot-password.jpg" alt="Imagen de inicio de sesión">
        </div>
        <mat-card-content>
            <form [formGroup]="formulario" (ngSubmit)="forgotPassword()">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="correo" matInput autocomplete="off">
                    <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>
                <button class="full-width submit-button" mat-raised-button color="primary" type="submit" [disabled]="formulario.invalid">
                    Establecer<mat-icon matSuffix>login</mat-icon>
                </button>
            </form>
        </mat-card-content>
        <div class="forgot-password">
            <a [routerLink]="['/login']">Regresar al Inicio de Sesión</a>
        </div>
        <mat-card-footer>
            <mat-progress-bar mode="indeterminate" *ngIf="mostrarLoading"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</div>