<div class="body">
    <mat-card class="loginCard">
        <div class="header">
            <h2 class="header-login">GENERAR NUEVA CONTRASEÑA</h2>
            <img class="login-image" src="../../../assets/img/reset-password.jpg" alt="Imagen de inicio de sesión">
        </div>
        <mat-card-content>
            <form [formGroup]="formulario" (ngSubmit)="resetPassword()">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Contraseña Actual</mat-label>
                    <input [type]="ocultarClaveActual ? 'password':'text'" formControlName="claveActual" matInput autocomplete="off">                   
                    <button mat-icon-button matSuffix (click)="ocultarClaveActual = !ocultarClaveActual" type="button">
                        <mat-icon matSuffix>{{ocultarClaveActual ? 'visibility_off':'visibility'}}</mat-icon>
                    </button>                           
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Contraseña Nueva</mat-label>
                    <input [type]="ocultarClaveNueva ? 'password':'text'" formControlName="claveNueva" matInput autocomplete="off">                   
                    <button mat-icon-button matSuffix (click)="ocultarClaveNueva = !ocultarClaveNueva" type="button">
                        <mat-icon matSuffix>{{ocultarClaveNueva ? 'visibility_off':'visibility'}}</mat-icon>
                    </button>                           
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Confirmar Contraseña Nueva</mat-label>
                    <input [type]="ocultarConfirmarClaveNueva ? 'password':'text'" formControlName="confirmarClaveNueva" matInput autocomplete="off">                   
                    <button mat-icon-button matSuffix (click)="ocultarConfirmarClaveNueva = !ocultarConfirmarClaveNueva" type="button">
                        <mat-icon matSuffix>{{ocultarConfirmarClaveNueva ? 'visibility_off':'visibility'}}</mat-icon>
                    </button>                           
                </mat-form-field>
                <button class="full-width submit-button" mat-raised-button color="primary" type="submit" [disabled]="formulario.invalid">
                    Establecer<mat-icon matSuffix>login</mat-icon>
                </button>
            </form>
        </mat-card-content>
        <div class="forgot-password">
            <a [routerLink]="['/pages']">Omitir</a>
        </div>
        <mat-card-footer>
            <mat-progress-bar mode="indeterminate" *ngIf="mostrarLoading"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</div>